.filter-container {
  display: flex;
  flex-direction: row;
  margin-right: 10px;

  .title {
    font-size: 12px;
    font-weight: 100;
    padding-top: 6px;
  }

  .button-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: rgb(238, 172, 87);
    border: 1px solid rgb(238, 172, 87);
    border-radius: 5px;
    margin: 8px 5px 8px 5px;

    p {
      margin: auto;
      padding: 0 5px 0 5px;
      color: rgb(245, 245, 245);
      font-size: 14px;
    }
  }

  .button-container:hover {
    cursor: pointer;
    background-color: rgb(255, 172, 87);

    p {
      color: rgb(250, 250, 250);
    }
  }

  .button-container-active {
    @extend .button-container;
    border: 1px solid rgb(238, 172, 87);
    background-color: rgb(156, 90, 38);
  }

  .button-container-active:hover {
    background-color: rgb(170, 90, 38);
  }
}
